/* Map.css */
/* 
.map-container2 {
    border-radius: 10px;
    width: 90%;
    height: 100%;
    margin-left: 70px;
    margin-right: 50px;
    overflow: hidden;
  }
   */

/* Add styles for the map container */

.map-container2 {
  border-radius: 10px;
  width: 90%;
  height: 400px; /* Set the initial height to 400px */
  margin: 0 auto; /* Center the map container horizontally */
  overflow: hidden;
}
.p-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #f0f0f0; */
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  width: 80%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

/* Add styles for the paragraph tag */
.p-tag {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

/* Add media queries for responsiveness */
@media screen and (max-width: 768px) {
  /* For screen width up to 768px, adjust the width and margins */
  .p-container {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  /* For screen width up to 480px, further adjust the width and margins */
  .p-container {
    width: 100%;
  }
}

/* Add media queries for responsiveness */
@media screen and (max-width: 768px) {
  /* For screen width up to 768px, adjust the width and margins */
  .map-container2 {
    width: 95%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 480px) {
  /* For screen width up to 480px, further adjust the width and margins */
  .map-container2 {
    width: 100%;
    margin: 0 auto;
  }
}
