/* 
.weather {
    width: 300px;
    border-radius: 6px;
    box-shadow: 10px -2px 20px 2px rgb(0 0 0 0/ 30%);
    color: #fff;
    background-color: #333;
    margin: 20px auto 0 auto;
    padding: 0 20px 20px 20px;

   
}
.top,
.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.city {
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    margin: 0;
    letter-spacing: 1px;
}
.weather-disc {
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    line-height: 1;
}
.weather-icon {
    width: 100px;
}
.temperature {
    font-weight: 600;
    font-size: 80px;
    width: auto;
    letter-spacing: -5px;
    margin: 10px 0;
}
.details {
    width: 100%;
    padding-left: 20px;
}
.parameter-row {
    display: flex;
    justify-content: space-between;
}
.parameter-label {
    text-align: left;
    font-weight: 400;
    font-size: 12px;
}
.parameter-value {
    align-items: right;
    font-weight: 600;
    font-size: 12px;
}
.fetching-data{
    margin: 66px;
}
.loading-indicator2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-left: 25px;
  }
  
  .loading-indicator2 img {
    width: 40px; /* Adjust the width as needed */
    /* height: 40px; Adjust the height as needed */
  /* } */
  
  /* .fetching-data { */
    font-weight: 400;
    font-size: 14px;
    margin-top: 10px;
  /* } */ 


  /*  */




/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/

.weather {
    @apply w-[330px] shadow-[10px_-2px_20px_2px_rgb(0_0_0_0/_30%)] text-white bg-[#333] mt-5 mb-0 mx-auto pt-0 pb-5 px-5 rounded-md;
  }
  .top,
  .bottom {
    @apply flex justify-between items-center;
  }
  .city {
    @apply font-semibold text-lg leading-none tracking-[1px] m-0;
  }
  .weather-disc {
    @apply font-normal text-sm leading-none m-0;
  }
  .weather-icon {
    @apply w-[100px];
  }
  .temperature {
    @apply font-semibold text-[80px] w-auto tracking-[-5px] mx-0 my-2.5;
  }
  .details {
    @apply w-full pl-5;
  }
  .parameter-row {
    @apply flex justify-between;
  }
  .parameter-label {
    @apply text-left font-normal text-xs;
  }
  .parameter-value {
    @apply font-semibold text-xs;
    align-items: right;
  }
  .fetching-data {
    @apply m-[66px] font-normal text-sm mt-2.5;
  }
  .loading-indicator2 {
    @apply flex flex-col items-center justify-center ml-[25px] mt-20;
  }
  .loading-indicator2 img {
    @apply w-10 h-10;
    /* Adjust the width as needed */
    /* Adjust the height as needed */
  }
  