/* .input{
    width: 300px;
    margin-left: 47px;
} */
/* YourComponent.css */

.time-info {
    text-align: center;
    margin-top: 8px;
    /* Laptop view */
    width: 100%; /* Adjust as needed for your design */
  
    /* Mobile view */
    @media (max-width: 768px) {
      width: 80%; /* Adjust as needed for your design */
      font-size: 14px; /* Adjust font size for mobile */
      margin: 0 auto; /* Center horizontally */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 100%; /* Occupy full height of the container */
    }
  }
  

/* Custom styles for the AsyncPaginate input */
.input {
    width: 100%; /* Adjust the width as desired */
    margin: 5px auto; /* Margin on top and bottom, auto left and right */
    max-width: 1024px; /* Optional: Set a maximum width */
}

/* Media query for smaller devices */
@media only screen and (max-width: 767px) {
    .input {
        width: 70%; /* Adjust the width for smaller devices */
    }
}
